.radix-themes {
  --default-font-family:  /* Your custom default font */
  --heading-font-family:  /* Your custom font for <Heading> components */
  --code-font-family:     /* Your custom font for <Code> components */
  --strong-font-family:   /* Your custom font for <Strong> components */
  --em-font-family:       /* Your custom font for <Em> components */
  --quote-font-family:    /* Your custom font for <Quote> components */
}